<div class="col py-3">
  <div class="row">
    <div class="col-md-9 mx-2">
      <h3>My Schools</h3>
    </div>
    <hr>
  </div>
  <div class="row">
    <%= render 'shared/flash' %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |school| %>
          <tr>
            <th scope="row"><%= school.id %></th>
            <td><%= school.name %></td>
            <td><%= school.description %></td>
            <td>
              <%= link_to 'Courses', my_school_courses_path(school), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_my_school_path(school), class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
